{% extends "base.html"%}
{% block main %}
<p hidden="hidden">


</p>


<form action="{{url_for('egoubaobei.payorder')}}" method="post">
    {{ form.hidden_tag()}}
       <table class="display" style="width:80%">
           <tbody>
           <tr>
                 {% for i in form.order_status %}
                  {{i}}:{{i.label}}
                   {% endfor %}</tr>
                 <tr><td>{{ form.orderid.label }}:{{ form.orderid }}
                 {{ form.submit() }}</tr>
                    <tr><td ><font color="red">{{ form.orderid.errors[0] }}</font></tr>

       </table>
    </tbody>
    <!--<p align="center"></p>-->
</form>
{{data|safe}}

<!--{% for i in mybudget %}-->
<!--<li>订单是：{{i|safe}} 金额为：{{mybudget[i]|safe}} <a href="{{url_for('hdt_redis.budget_control',orderno=i|safe,jobid1=jobid1|safe)}}">查看小时预算</a></li>-->
  <!--{% endfor %}-->
{% endblock %}

