<!DOCTYPE html>
{% extends "base.html"%}

{% block main %}


<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>广告主数据效果收集生成链接</title>
</head>
<body>
    <h1>广告主效果收集生成链接</h1><br>

    <form action="{{url_for('render_link')}}" method="post">

        <b>广告主落地页地址:</b> <input type="text" name="url" value={{url}}>

        <input type="submit" value="生成测试地址"><br>
        <br>

        <b>下单测试页地址:</b> {{new_url}}<br>

        <br>
        <br>

        <a href="{{url_for('query_result',ad_click_tag=ad_click_tag|safe)}}">查看广告主数据收集结果</a>

    </form>

</body>
</html>

{% endblock %}