{% extends "base.html"%}
{% block main %}
<div style="margin-left:30px;" >
    <!--Mysql数据循环list-->
    {% if esResults  %}
    <table  border="1" bordercolor="#000000">
        <tr><td colspan =30>数据库查询</td></tr>
        <tr><td colspan =9 align=center>订单相关</td><td colspan =3 align=center>会员相关</td><td colspan =8 align=center>商品相关</td><td colspan =10 align=center>点击相关</td></tr>
        <tr>
          <td>订单编号<br>ORDER_NO</td><td>活动id</td><td>商品编号<br>COMMODITY_NO</td><td>商家名称<br>advertiserName</td><td>实付金额<br>EXPECTED_MONEY</td><td>下单时间<br>ORDER_TIME</td><td>预计佣金<br>EXPECTED_COMMISSION</td><td>订单状态<br>STATUS</td><td>渠道</td>
          <td>会员id<br>USER_ID</td><td>手机号<br>PHONE</td><td>微信union</td>
          <td>商品名称<br>productName</td><td>一级类目<br>productCategory1</td><td>二级类目<br>productCategory2</td><td>现价<br>productPresentPrice</td><td>优惠金额</td><td>优惠金额<br>isCoupon</td><td>是否包邮<br>isPostageFree</td><td>是否优惠券</td>
          <td>点击id</td><td>浏览器</td><td>城市</td><td>手机区域</td><td>点击时间</td><td>客户端</td><td>手机品牌</td><td>操作系统</td><td>省会</td><td>手机城市</td>
        </tr>
        {% for dl in dictList %}
        <tr>
           <!--订单相关-->
           <td>{{dl['ORDER_NO']}}</td>
           <td>{{dl['UNION_CAMPAIGN_ID']}}</td>
           <td>{{dl['COMMODITY_NO']}}</td>
           <td>{{dl['advertiserName']}}</td>
           <td>{{dl['EXPECTED_MONEY']}}</td>
           <td>{{dl['ORDER_TIME']}}</td>
           <td>{{dl['EXPECTED_COMMISSION']}}</td>
           <td>{{dl['STATUS']}}</td>
           <td>{{dl['channel']}}</td>
           <!--会员相关-->
           <td>{{dl['USER_ID']}}</td>
           <td>{{dl['PHONE']}}</td>
           <td>{{dl['BIND_UID']}}</td>
           <!--商品相关-->
           <td>{{dl['channel']}}</td>
           <td>{{dl['channel']}}</td>
           <td>{{dl['channel']}}</td>
           <td>{{dl['channel']}}</td>
           <td>{{dl['channel']}}</td>
           <td>{{dl['channel']}}</td>
           <td>{{dl['channel']}}</td>
           <!--点击相关-->
           <td>{{dl['channel']}}</td>
           <td>{{dl['channel']}}</td>
           <td>{{dl['channel']}}</td>
           <td>{{dl['channel']}}</td>
           <td>{{dl['channel']}}</td>
           <td>{{dl['channel']}}</td>
           <td>{{dl['channel']}}</td>
           <td>{{dl['channel']}}</td>
           <td>{{dl['channel']}}</td>
           <td>{{dl['channel']}}</td>
           <td>{{dl['channel']}}</td>
        {% endfor %}
    </table>
    {% else %}
        <h4>无法在{{ request.args.get('myenv') }}数据库搜索到对应的订单信息：{{ request.args.get('actionNo') }}</h4>
    {% endif %}
    <br><br>
    <!--ES数据循环list-->
    {% if esResults  %}
    <table  border="1" bordercolor="#000000">
        <tr><td colspan =28>ES查询</td></tr>
        <tr><td colspan =7 align=center>订单相关</td><td colspan =3 align=center>会员相关</td><td colspan =8 align=center>商品相关</td><td colspan =10 align=center>点击相关</td></tr>
        <tr>
          <td>订单编号actionNo</td><td>商家名称advertiserName</td><td>实付金额cost</td><td>下单时间actionTime</td><td>预计佣金commission</td><td>订单状态actionStatus</td><td>渠道channel</td>
          <td>会员id egouId</td><td>手机号phone</td><td>微信union</td>
          <td>商品名称productName</td><td>一级类目productCategory1</td><td>二级类目productCategory2</td><td>现价productPresentPrice</td><td>优惠金额productReducePrice</td><td>优惠金额</td><td>是否包邮isPostageFree</td><td>是否优惠券isCoupon</td>
          <td>点击id exportId</td><td>浏览器exportBrowser</td><td>城市phoneProvince</td><td>手机区域exportProvince</td><td>点击时间exportTime</td><td>客户端exportTerminal</td><td>手机品牌exportPhoneBrand</td><td>操作系统exportOs</td><td>省会exportCity</td><td>手机城市phoneCity</td>
        </tr>
        {% for er in esResults %}
        <tr>
            <!--<td><h4><b width="350">订单相关</b></h4></td>-->
            <td>{{er['actionNo']}}</td>
            <td>{{er['advertiserName']}}</td>
            <td>{{er['cost']}}</td>
            <td>{{er['actionTime']}}</td>
            <td>{{er['commission']}}</td>
            <td>{{er['actionStatus']}}</td>
            <td>{{er['channel']}}</td>
            <!--<td><h4><b>会员信息</b></h4></td>-->
            <td>{{er['egouId']}}</td>
            <td>{{er['phone']}}</td>
            <td>{{er['wechatUnionid']}}</td>
            <!--<td><h4><b>商品信息</b></h4>-->
            <td>{{er['productName']}}</td>
            <td>{{er['productCategory1']}}</td>
            <td>{{er['productCategory2']}}</td>
            <td>{{er['productPresentPrice']}}</td>
            <td>{{er['productReducePrice']}}</td>
            <td>{{er['productPriceRebate']}}</td>
            <td>{{er['isPostageFree']}}</td>
            <td>{{er['isCoupon']}}</td>
            <!--<td><h4><b>点击信息</b></h4>-->
            <td>{{er['exportId']}}</td>
            <td>{{er['exportBrowser']}}</td>
            <td>{{er['phoneProvince']}}</td>
            <td>{{er['exportProvince']}}</td>
            <td>{{er['exportTime']}}</td>
            <td>{{er['exportTerminal']}}</td>
            <td>{{er['exportPhoneBrand']}}</td>
            <td>{{er['exportOs']}}</td>
            <td>{{er['exportCity']}}</td>
            <td>{{er['phoneCity']}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
        <h4>无法在{{ request.args.get('myenv') }}ES搜索到对应的订单信息：{{ request.args.get('actionNo') }}</h4>
    {% endif %}
</div>
{% endblock %}