{% extends "base.html"%}

{% block main %}

<script>$(document).ready(function() {$('#example').DataTable();} );</script>
<script>$(document).ready(function() {$('#example1').DataTable();} );</script>
<script>$(document).ready(function() {$('#example2').DataTable();} );</script>

<!--<html>-->
<head lang="en">
    <meta charset="UTF-8">
    <title>低碳打卡小程序媒体报表</title>
</head>
<body>
<h1>低碳打卡小程序媒体报表</h1>


<form action="{{url_for('miniprogram.media_reportnew')}}" method="post">

    日期: <input type="date" name="begin_date" value="{{begin_date}}"> 到
    <input  type="date" name="end_date" value="{{end_date}}">
    <br>
    <br>
    媒体<select name="media_name">
    <option>全部</option>
    <option>有练换换</option>
    <option>优质福利所</option>
    <option>步数大联盟</option>
    <option>易购赚</option>
    <option>遇见球球</option>
    <option>开心游戏大乱斗</option>
    <option>十一光年</option>
    <option>福礼惠公众号</option>
    <option>我蹦我再蹦</option>
    <option>弹球大乱斗</option>
    <option>APP-DSP光速动力</option>
    <option>手机弹幕小程序</option>
    <option>智行火车票小程序</option>
    <option>步数换换乐</option>
    <option>打卡小日历</option>
    <option>玩赚签到</option>
    <option>光微科技公众号</option>
    <option>番茄小程序矩阵</option>
    <option>小麦圈打卡</option>
    <option>三言app</option>
    <option>小集盒</option>
    <option>超级打投</option>
    <option>淘新闻app</option>
    <option>付呗</option>
    <option>哆啦宝</option>
    <option>今天点餐吃什么</option>
    <option>八斗优选</option>
    <option>薪头条</option>
    <option>你包我猜</option>
    <option>悦头条</option>
    <option>车来了</option>
    <option>同程艺龙</option>
    {{media_name|safe}}
</select>
    <br>
    <br>


    留存
    <!--{% if live_type=='新增留存' %}-->
    <!--<input type="radio" name="live_type" checked value="新增留存">新增留存-->
    <!--<input  type="radio" name="live_type"   value="活跃留存">活跃留存-->
    <!--{% elif live_type=='活跃留存' %}-->
    <!--<input type="radio" name="live_type"  value="新增留存">新增留存-->
    <!--<input  type="radio" name="live_type" checked  value="活跃留存">活跃留存-->
    <!--{% else %}-->
    <!--<input type="radio" name="live_type"  value="新增留存">新增留存-->
    <!--<input  type="radio" name="live_type"  value="活跃留存">活跃留存-->
    <!--{%endif%}-->
    <!--<input type="radio" name="live_type"  value="新增留存">新增留存-->
    <!--<input  type="radio" name="live_type"  value="活跃留存">活跃留存-->

    {{live_type_info|safe}}

    <br>
    <br>
    <input type="submit" name="submit" value="查询">
    <a  download="mediareport.xlsx" href="../static/result/mediareport.xlsx">导出{{live_type}}</a>
    <!--<a id="export" download="mediareport.xlsx" href="../static/result/mediareport.xlsx">导出</a>-->

</form>

<br>
<br>
<div id="adduser" style="float:left;margin-right:100px;text-align:center">

    <table id="example" class="display" name="media_report" border="1" >
        <thead style="background:green">
        <tr>
            <th>日期</th>
            <th>媒体/活动</th>
            <th>新用户数</th>
            <th>活跃用户数</th>
            <th>授权户数</th>
            <th>次日留存</th>
            <th>三日留存</th>
            <th>四日留存</th>
            <th>五日留存</th>
            <th>六日留存</th>
            <th>七日留存</th>
        </tr>
        </thead>
        <tbody>
       {% if mediainfo %}

        {% for rows in mediainfo %}
        <tr>
            {% for col in rows %}
            <td>{{ col|safe }}</td>
            {% endfor %}
        </tr>
        {% endfor %}

       {% endif %}
        </tbody>
    </table>
</div>







</body>
<!--</html>-->

{% endblock %}