{% extends "base.html"%}
{% block main %}
<p hidden="hidden">
报表功能：查看生产或测试环境缓存数据
</p>
                <script>
        $(document).ready(function() {
    $('#example').DataTable();
} );</script>

<script>
window.onload = function(){
            $("tr:gt(0)").mouseover(function(){
		      $(this).css('background-color','rgba(199,21,133,0.5)');});
            $("tr:gt(0)").mouseout(function(){
		     $(this).css('background-color','white');});}
</script>

<li>缓存中的订单为：</li>
<li>订单总个数：{{allcount|safe}} 预算为负数的订单个数: {{negativecount|safe}}</li>

<form action="{{url_for('hdt_redis.myredis')}}" method="post">
    {{ form.hidden_tag()}}
       <table class="display" style="width:80%"><tr>

                 {% for i in form.myenv %}
                   <td>{{i}}:{{i.label}}</td>
                   {% endfor %}
                 <td>{{ form.submit() }}</td></tr>
       </table>
      <table  id="example" class="display" style="width:100%">

            <thead>
                <tr>
                    <td>订单id</td>
                    <td>订单预扣</td>
                    <td>亦庄剩余预算</td>
                    <td>上海剩余预算</td>
                    <td>华通剩余预算</td>
                    <td>亦庄与上海差异</td>
                    <td>亦庄与华通差异</td>
                    <td>操作</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>

            {% for i in mybudget%}
            <tr>
                    {% for j in i%}
                        <td>{{j|safe}}</td>
                        <!--<td><a href="{{url_for('hdt_redis.budget_control',orderno=i|safe,jobid1=jobid1|safe)}}">查看小时预算</a></td>-->
                    {% endfor %}
                        <td><a href="{{url_for('hdt_redis.budget_control',orderno=i[0]|safe,myenv=myenv|safe)}}">查看小时预算</a></td>
                        <td><a href="{{url_for('hdt_redis.advertiser_balance',orderno=i[0]|safe,myenv=myenv|safe)}}">订单预扣及流水</a></td>
            </tr>
            {% endfor %}
            </tbody>

        </table>
    <p align="center"></p>
</form>


<!--{% for i in mybudget %}-->
<!--<li>订单是：{{i|safe}} 金额为：{{mybudget[i]|safe}} <a href="{{url_for('hdt_redis.budget_control',orderno=i|safe,jobid1=jobid1|safe)}}">查看小时预算</a></li>-->
  <!--{% endfor %}-->
{% endblock %}

