{% extends "base.html"%}
{% block main %}
<p hidden="hidden">
根据日志查找广告订单未出原因
</p>
<form action="{{url_for('hdt_redis.orderresion')}}" method="post">
{{ form1.hidden_tag()}}

    <table>
        <tbody>
        <tr>
            <td>
                  {% for i in form1.myenv %}
                   <tr>{{i}}:{{i.label}} </tr>
                   {% endfor %}
                </td>
                {{ form1.csrf_token }}
                {{ form1.begindate.label }}: {{ form1.begindate }}
                {{ form1.enddate.label }}: {{ form1.enddate }}
            </tr>
                    <tr>

                <td ><font color="red">{{ form1.begindate.errors[0]}}</font></td>
                <td><font color="red">{{ form1.enddate.errors[0] }}</font></td>
            </tr>
            <tr>
                <td>{{ form1.adzone_id.label }}: {{ form1.adzone_id }} {{ form1.ad_order_id.label }}: {{ form1.ad_order_id }}</td>

            </tr>
            <tr>
                    <td><font color="red">{{ form1.adzone_id.errors[0]}}</font></td>
                    <td><font color="red">{{ form1.ad_order_id.errors[0] }}</font></td>

            </tr>
        <tr><td><font size="3" color="red">使用场景：如果广告位点击id字段有超过两个广告位点击，查询条件按照填写的广告位点击id汇总订单不出现原因；否则按照开始时间结束时间广告位id查库获得广告位点击id汇总订单不出现原因</font></td></tr>
            <tr>
                <td>{{ form1.adzoneClickid.label }}: {{ form1.adzoneClickid }}{{ form1.submit }}</td>

            </tr>
        <tr>
            <td>{{ form1.pos.label }}: {{ form1.pos}}</font></td>

        </tr>
        <tr><td ><font size="3" color="red">使用场景：选择复选框 按照开始开始时间，结束时间，广告位id，地域查询lottery表谢谢参与的广告位点击id</font></td></tr>
        <tr>
            <td>{{ form1.iszhitiao.label }}: {{ form1.iszhitiao}}{{ form1.region.label }}: {{ form1.region}}</td>
        </tr>
            <tr>
                <td><font color="red">{{ form1.adzoneClickid.errors[0] }}</font></td>

            </tr>
        </tbody>
    </table>
</form>
        <h1>只查询10个广告位点击id，es不挂的情况下大约40秒返回数据</h1>
         {% for i in advertiser_deduction%}
        <li>订单投放时间为：{{i[0]|safe}}  金额：{{i[1]|safe}} 投放状态：{{i[2]|safe}}</li>
        {% endfor %}
    {% for i in mydata1%}
        <li>{{i|safe}}: <font color="red" >{{mydata1[i]|safe}}</font>次</li>

{% endfor %}
{% endblock %}

