{% extends "base.html"%}
{% block main %}


<script>
        $(document).ready(function() {
    $('#example').DataTable({
    "order": [[9+{{addfieldnum|safe|int}},'desc']], //排序
    "iDisplayLength" : 100, //默认显示的记录数

    "aoColumnDefs":[{"sClass":"alignleft cutLongText","aTargets":[2]},{"sClass":"alignleft cutLongText","aTargets":[3]},{"sClass":"alignleft cutLongText","aTargets":[6+{{addfieldnum|safe|int}}]}{% if  addfieldnum|safe|int > 0 %},{"sClass":"alignleft cutLongText","aTargets":[4]},{"sClass":"alignleft cutLongText","aTargets":[5]}{% endif %}],

    "fixedHeader": true,  //固定表头
                "scrollX": "500px",
                "scrollY": "550px",  //高度
                "scrollCollapse": true,
    "fixedColumns": { "leftColumns": 6+{{addfieldnum|safe|int}} } //固定首列，需要引入相应 dataTables.fixedColumns.min.js
    });
} );</script>
<style type="text/css">
    *{font-size: 12px;}
    thead tr td{white-space: nowrap;}
    table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
         background-color:#fff000
    }
    table.dataTable tbody tr td,table.dataTable thead tr.tsum { text-align: right; white-space: nowrap;}
    table.dataTable tbody tr td.alignleft{ text-align: left;white-space: nowrap;}

    .cutLongText{white-space: nowrap;}

    .gray{border-bottom: 1px solid #dddddd;}
    .red{border-bottom: 1px solid  #ff3300;}
</style>

<p hidden="hidden">{{tmpsql|safe}}</p>
媒体效果-评估-小时表
<form action="{{url_for('myreport.reportmtpingguhour')}}" method="post">
        {{ form.hidden_tag()}}
       <table class="display" style="width:100%" border="1">

           <tr>
               <td>{{ form.begindate.label }}{{form.begindate(autocomplete="off")}}
                   {{ form.enddate.label }}{{form.enddate(autocomplete="off")}}
                   {{ form.adzoneid.label }}{{form.adzoneid(autocomplete="off")}}
                   {{ form.advertiser.label }}{{form.advertiser(autocomplete="off")}} {{ form.submit() }}
                   &nbsp;&nbsp;&nbsp;<a id="export" download="reportmtpingguhour.xlsx" href="../../../static/result/reportmtpingguhour.xlsx">导出</a>
                    </td>
           </tr>

       </table>
</form>
      <table  id="example" class="display" style="width:100%"  border="1">

            <thead>
                {% for k1 in datasum%}
                 <tr class="tsum">
                    {% for i1 in k1%}
                     {% if loop.index < loop.length%}
                             <td><font {% if i1|string|replace('%','')|int<0  %}
                                color="red"
                            {% elif ((loop.index >= 16+addfieldnum|int and loop.index < 16+24+addfieldnum|int) or loop.index == 6+addfieldnum|int ) and k1[4+addfieldnum|int]|int>0 and i1>0 %}
                                    {% if i1>k1[4+addfieldnum|int]|int %}
                                        color="red"
                                    {% else %}
                                        color="green"
                                    {% endif %}
                            {% endif %} >
                            {{i1|safe}}
                        </font></td>
                     {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
                <tr>
                    <td align="center" colspan=6>&nbsp;全部为去联动数据</td>
                    {% if  addfieldnum|safe|int > 0 %}<td>&nbsp;</td><td>&nbsp;</td>{% endif %}
                    <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>
                   <td align="center" colspan=24>效果成本</td>
                    <td align="center" colspan=24>CPC</td>
                    <td align="center" colspan=24>消耗</td>
                    <td align="center" colspan=24>转化率</td>
                </tr>
                <tr>
                   {% for i in filed%}
                    {% if loop.index < loop.length%}
                            <td>{{i|safe}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
            </thead>
            <tbody>

            {% for k in data%}
            <tr>

                {% for i in k%}
                {% if loop.index < loop.length%}
                    <td><span {% if k[111+addfieldnum|int]|int == 0  %} class="gray"
                        {% elif k[111+addfieldnum|int]|int <  0 %}class="red"
                        {% endif %} >
                        <font {% if i|string|replace('%','')|int<0  %}
                                color="red"
                            {% elif ((loop.index >= 16+addfieldnum|int and loop.index < 16+24+addfieldnum|int) or loop.index == 6+addfieldnum|int ) and k[4+addfieldnum|int]|int>0 and i>0 %}
                                    {% if i>k[4+addfieldnum|int]|int %}
                                        color="red"
                                    {% else %}
                                        color="green"
                                    {% endif %}
                            {% endif %}>
                            {{i|safe}}
                        </font></span></td>
                {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>

        </table>
    <p align="center"></p>



<!--{% for i in mybudget %}-->
<!--<li>订单是：{{i|safe}} 金额为：{{mybudget[i]|safe}} <a href="{{url_for('hdt_redis.budget_control',orderno=i|safe,jobid1=jobid1|safe)}}">查看小时预算</a></li>-->
  <!--{% endfor %}-->
{% endblock %}
