{% extends "base.html"%}
{% block main %}



<!--<style type="text/css">-->
    <!--.cutLongText{white-space: nowrap;}-->
    <!--.content {-->
        <!--width:96%;-->
        <!--margin-left: 2%;-->
    <!--}-->
    <!--.newli li{-->
    <!--line-height:50px; /*li的行高，可以控制li的间距*/-->
    <!--font-size:25px;  /*li内文字的大小*/-->
    <!--}-->
    <!--.newli p{-->
    <!--font-size:55px;-->
    <!--}-->
<!--</style>-->



<div class="content">
     <h1 >媒体对接请按照如下步骤操作：</h1>
    <ol class="newli">
        <li><a href='https://docs.qq.com/sheet/DZVptS0JFSFRZYXl6' target="_blank">腾讯文档</a></li>
        <!--<li><a href={{ url_for('static',filename='yijifendesc/1.易积分媒体对接流程.docx') }}>易积分媒体对接流程</a></li>-->
        <!--<li><a href={{ url_for('static',filename='yijifendesc/2.易积分媒体对接需求信息.xlsx') }}>易积分媒体对接需求信息</a></li>-->
        <!--<li><a href={{ url_for('static',filename='yijifendesc/3.易积分媒体自有积分体系商城对接文档.pdf') }}>易积分媒体自有积分体系商城对接文档.pdf</a></li>-->
        <!--<li><a href={{ url_for('static',filename='yijifendesc/4.易积分添加活动方法.docx') }}>易积分添加活动方法.docx</a></li>-->
        <!--<li><a href={{ url_for('static',filename='yijifendesc/5.广告位添加广穿激励视频.docx') }}>广告位添加广穿激励视频.docx</a></li>-->
        <!--<li><a href={{ url_for('static',filename='yijifendesc/6.易积分退款退积分流程.docx') }}>易积分退款退积分流程.docx</a></li>-->
        <!--<li><a href={{ url_for('static',filename='yijifendesc/7.常见问题.docx') }}>常见问题.docx</a></li>-->
        <!--<li><a href={{ url_for('static',filename='yijifendesc/8.xxx媒体收益表.xlsx') }}>xxx媒体收益表.xlsx</a></li>-->
        <!--<li><a href={{ url_for('static',filename='yijifendesc/9.运营查询数据路径.xlsx') }}>运营查询数据路径.xlsx</a></li>-->

    </ol>




</div>



<div class="container">
   <h1>媒体对接流程</h1>
  <p>The dl element indicates a description list:</p>
  <dl>
    <dt class="text-primary">一、内部沟通需求—商务&运营</dt>
    <dd>- 商务&运营----内部沟通媒体的大致需求，明确是帮助媒体消除积分、是易积分产生积分并消除积分、还是两种情况兼有</dd>
    <dt class="text-primary">二、明确需求</dt>
    <dd>- 运营&商务----与媒体沟通，明确媒体需求</dd>
    <dt class="text-primary">三、运营方案</dt>
    <dd>- 运营人员----媒体对接方案PPT（图片+文字或视频），先与商务确实，再发与媒体确认</dd>
    <dt class="text-primary">四、发产品DEMO/视频</dt>
    <!--<dd>- 22222</dd> -->
    <dt class="text-primary">五、易积分后台创建应用、活动、选品</dt>
    <dd>- 运营人员----创建文档在目录下4.《易积分添加活动方法》</dd>
    <dt class="text-primary">六、互动推后台创建媒体、广告位</dt>
    <dd>- 运营人员----在互动推后台创建媒体、广告位，如果媒体已经接了广穿等激励视频，需要媒体在这两个平台单独创建易积分的广告位及代码位，然后绑定互动推的广告位，此时可与媒体沟通发送文档2.《易积分媒体对接需求信息》并回执；若媒体没有创建，利用互动推的在广穿的账号为媒体创建单独的应用及广告位。具体如何创建查阅本文档所在目录下的5.《广告位添加广穿激励视频》</dd>
    <dt class="text-primary">七、对接文档</dt>
    <dd>- 产品----给媒体发技术对接文档3.《易积分媒体自有积分体系商城对接文档》，并建立媒体沟通微信群，包括双方的运营、产品与技术人员，易积分人员进群后更改《我在群里的昵称》，格式如下：易积分—技术—李某某，方便对接中解决问题</dd>
    <dt class="text-primary">八、对接上线</dt>
    <dd>- 对接时间一般1~2天
            对接注意事项：
            1.	非标准化对接，需现在易购宝贝APP上跑下场景，保证细节不出问题，例如：二级页面返回按钮等
            2.	媒体迁入后，用媒体的线上apk包测试完整的流程，保证细节不出问题
        </dd>
    <dt class="text-primary">九、媒体发版上线</dt>
    <!--<dd>- 22222</dd>  </dl>-->
    <dt class="text-primary">十、运营数据跟踪</dt>
    <dd>- 运营----2~3天与媒体沟通询问媒体聚合广告的cpm值，调整互动推订单出价；每周给媒体反馈收益数据如：8.《xxx媒体收益表》。</dd>
    </dl>
    <h1>2.易积分媒体对接需求信息</h1>
    <div class="container">

  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>名称</th>
        <th>内容</th>
        <th>备注</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>媒体名称</td>
        <td>映客直播极速版</td>
        <td></td>
      </tr>
      <tr>
        <td>积分名称</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>积分与现金的汇率</td>
        <td></td>
        <td></td>
      </tr>
          <tr>
        <td>程序主包名</td>
        <td></td>
        <td></td>
      </tr>
          <tr>
        <td>SHA1</td>
        <td></td>
        <td></td>
      </tr>
          <tr>
        <td>应用商店</td>
        <td></td>
        <td></td>
      </tr>
          <tr>
        <td>应用商店详情页地址</td>
        <td></td>
        <td></td>
      </tr>
          <tr>
        <td>广点通-《媒体ID》</td>
        <td></td>
        <td></td>
      </tr>
          <tr>
        <td>广点通-媒体下新建1个《广告位id》</td>
        <td></td>
        <td></td>
      </tr>
              <tr>
        <td>穿山甲-《应用ID》</td>
        <td></td>
        <td></td>
      </tr>
              <tr>
        <td>穿山甲-应用下新建1个《代码位id》</td>
        <td></td>
        <td></td>
      </tr>

    </tbody>
  </table>
</div>
        </dl>
    <h1>易积分与媒体对接活动建立流程</h1>
    <dt class="text-primary">1.发给媒体对接人需求表，如下图</dt>
          <div class="container">
              <img src={{ url_for('static',filename='yijifendesc/youmeng1.png') }} class="img-thumbnail" alt="Cinque Terre">
              <img src={{ url_for('static',filename='yijifendesc/youmeng2.png') }} class="img-thumbnail" alt="Cinque Terre">
              <img src={{ url_for('static',filename='yijifendesc/youmeng3.png') }} class="img-thumbnail" alt="Cinque Terre">
        </div>

     <dd> 最后点击《确认添加站点》</dd>
          <div class="container">
              <img src={{ url_for('static',filename='yijifendesc/youmeng4.png') }} class="img-thumbnail" alt="Cinque Terre">
        </div>
     <dd>获取《统计代码》</dd>
              <div class="container">
              <img src={{ url_for('static',filename='yijifendesc/youmeng5.png') }} class="img-thumbnail" alt="Cinque Terre">
               </div>
    </dl>
    <div class="container"></div>

    <dt class="text-primary">登录易积分后台创建活动</dt>
    <dd>- 1. 登录网址：<a href="http://admin.yijifen.com/">http://admin.yijifen.com/user/login</a></dd>
    <dd>- 2. 添加app基础信息，包括上面表格中的信息《应用管理》---《添加》---填写基础信息 兑换比率等，主要就是积分与媒体积分的兑换比率及商品定价</dd>
            <div class="container">
              <img src={{ url_for('static',filename='yijifendesc/yjf1.png') }} class="img-thumbnail" alt="Cinque Terre">
              <img src={{ url_for('static',filename='yijifendesc/yjf2.png') }} class="img-thumbnail" alt="Cinque Terre">
             </div>
    <dd>	《易积分》是我们平台的积分------积分自产自销	《媒体对接》是指媒体方的积分------帮助媒体消积分 	《媒体积分+易积分》媒体和我们平台的积分都有</dd>
            <div class="container">
              <img src={{ url_for('static',filename='yijifendesc/yjf3.png') }} class="img-thumbnail" alt="Cinque Terre">
              <img src={{ url_for('static',filename='yijifendesc/yjf4.png') }} class="img-thumbnail" alt="Cinque Terre">
             </div>
    <dd>3. 为应用添加活动，《活动管理》---《添加》</dd>
                <div class="container">
              <img src={{ url_for('static',filename='yijifendesc/yjf5.png') }} class="img-thumbnail" alt="Cinque Terre">
             </div>
    <dd>3. 《所属应用》这里就是选择上一步中创建应用，绑定应用与活动</dd>
            <div class="container">
          <img src={{ url_for('static',filename='yijifendesc/yjf6.png') }} class="img-thumbnail" alt="Cinque Terre">
         </div>
        <dd></dd>

    <dt class="text-primary">三、为活动添加各个模块</dt>
     <div class="container">
          <img src={{ url_for('static',filename='yijifendesc/yjf7.png') }} class="img-thumbnail" alt="Cinque Terre">
         </div>

    <dd>- 1.添加广告---活动模板中，模块3、模块4、模块5均需要易购后台完成 登录《易购后台》添加 如下图：地址：<a href="http://admin-ddyz.egou.com/">http://admin-ddyz.egou.com/</a>     用户名：sunli     密码：Qwe1234567</dd>
        <div class="container">
          <img src={{ url_for('static',filename='yijifendesc/yjf8.png') }} class="img-thumbnail" alt="Cinque Terre">
         </div>
    <dd>同样在这里先建立《广告位》再建立《广告内容》注意：添加《模块3轮播图》，《展现类型》选择《列表》才会出现轮播</dd>
        <div class="container">
          <img src={{ url_for('static',filename='yijifendesc/yjf9.png') }} class="img-thumbnail" alt="Cinque Terre">
         </div>
    <dd>ID不用管，填写《名称》、《标识》并记录下这个标识，绑定到易积分活动的模块中，《所属站点》选择蒲公英，《广告目录》选择易积分，《状态》有效，《展现类型》均为列表。</dd>
        <div class="container">
          <img src={{ url_for('static',filename='yijifendesc/egou1.png') }} class="img-thumbnail" alt="Cinque Terre">
         </div>
    <dd>注意：如果广告绑定的链接如果为互动推的活动，那需要把互动推中的《广告位》链接黏贴到下图《链接》的位置，如果活动为赚积分类型的活动如《快乐养猪》、《魔力果园》。</dd>
        <div class="container">
          <img src={{ url_for('static',filename='yijifendesc/egou2.png') }} class="img-thumbnail" alt="Cinque Terre">
         </div>
    <dd>3.回到《广告位管理》，复制《标示》如下图红框，粘贴到易积分管理平台中《添加广告》的位置，此时绑定完毕。</dd>
        <div class="container">
          <img src={{ url_for('static',filename='yijifendesc/egou3.png') }} class="img-thumbnail" alt="Cinque Terre">
          <img src={{ url_for('static',filename='yijifendesc/egou4.png') }} class="img-thumbnail" alt="Cinque Terre">
         </div>
    <dd>提交后保存成功 注意：《模块4：金刚区一行五个广告》和《模块5：一行两个广告》  同3一样配置 基础广告位配置完毕 </dd>
        <div class="container">
  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>位置</th>
        <th>素材尺寸（px）</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>模块3：轮播图</td>
        <td>700*180</td>
      </tr>
      <tr>
        <td>模块4：金刚区一行五个广告</td>
        <td>100*100</td>
      </tr>
      <tr>
        <td>模块5：一行两个广告尺寸</td>
        <td>348*150</td>
      </tr>
    </tbody>
  </table>
</div>
     <dt class="text-primary">配置商品</dt>
         <dd>-商品列表-横向展示</dd>
            <div class="container">
          <img src={{ url_for('static',filename='yijifendesc/xuanpin1.png') }} class="img-thumbnail" alt="Cinque Terre">
          <img src={{ url_for('static',filename='yijifendesc/xuanpin2.png') }} class="img-thumbnail" alt="Cinque Terre">
                <dd>统一保存，按钮</dd>
          <img src={{ url_for('static',filename='yijifendesc/xuanpin3.png') }} class="img-thumbnail" alt="Cinque Terre">
          <img src={{ url_for('static',filename='yijifendesc/xuanpin4.png') }} class="img-thumbnail" alt="Cinque Terre">
                <dd>翻页后已选中的就失效了</dd>
          <img src={{ url_for('static',filename='yijifendesc/xuanpin5.png') }} class="img-thumbnail" alt="Cinque Terre">
         </div>
          <dd>修改权重，数字越大顺序越靠前，商品列表添加完成 没有保存按钮，可点击上面的保存。到这里活动基本建设完成。
        注意：如果积分商城中添加了赚取积分的活动如《魔力果园》和《快乐养猪》那必须将易积分中的《应用id》与互动推的《媒体id》用sql 绑定，打通积分，联系测试同学：王兰青。如下图：
        应用id：100011 媒体id：3851
        </dd>
            <div class="container">
          <img src={{ url_for('static',filename='yijifendesc/xuanpin6.png') }} class="img-thumbnail" alt="Cinque Terre">
         </div>

        <h1>广告位添加广点通及穿山甲激励视频</h1>
            <dt class="text-primary">一、添加流程</dt>
               <div class="container">
              <img src={{ url_for('static',filename='yijifendesc/liuchengtu1.png') }} class="img-thumbnail" alt="Cinque Terre">
               </div>

            <dt class="text-primary">二、具体步骤</dt>.
                   <div class="container">
                    <img src={{ url_for('static',filename='yijifendesc/hdt1.png') }} class="img-thumbnail" alt="Cinque Terre">
                      <d>1.	登录互动推后台，进入《媒体管理》  2.	找到媒体id，点击《编辑》，或者《创建媒体》</d>
                    <img src={{ url_for('static',filename='yijifendesc/hdt2.png') }} class="img-thumbnail" alt="Cinque Terre">
                       <d>3.	添加广点通的《应用id》和穿山甲的《应用id》，蓝色框中需要对接媒体（应用）提供，程序主包名需要和广点通后台的 保持一致。</d>
                    <img src={{ url_for('static',filename='yijifendesc/hdt3.png') }} class="img-thumbnail" alt="Cinque Terre">
                     </div>
                     <dd>4.	需要媒体提供的信息如下：</dd>
                      <dd>  1)	程序主包名：com.lucky.walking</dd>
                        <dd>2)	SHA1： 15:C6:1B:97:6B:26:07:8C:1C:E3:6A:3B:7C:B4:F8:51:08:23:F2:55</dd>
                        <dd>3)	应用商店地址：https://android.myapp.com/myapp/detail.htm?apkName=com.lucky.walking</dd>
                        <dd>易积分账号</dd>
                        <dd>穿山甲账号：链接：https://www.pangle.cn/union/media/union/report/code</dd>
                        <dd>穿山甲：fancuihong@emar.com 密码：egouemar@（目前与易购共用）</dd>
                        <dd>广点通账号：链接：https://adnet.qq.com/index</dd>
                        <dd>广点通：1283845104 密码：testqq123456</dd>
                        <dd>5.	登录到广点通后台，选择《我的媒体》看到《易购宝贝》</dd>
              <img src={{ url_for('static',filename='yijifendesc/hdt4.png') }} class="img-thumbnail" alt="Cinque Terre">
              <img src={{ url_for('static',filename='yijifendesc/hdt5.png') }} class="img-thumbnail" alt="Cinque Terre">
              <img src={{ url_for('static',filename='yijifendesc/hdt6.png') }} class="img-thumbnail" alt="Cinque Terre">
              <img src={{ url_for('static',filename='yijifendesc/hdt7.png') }} class="img-thumbnail" alt="Cinque Terre">
                <dd>创建ios同理，包名注意
                穿山甲账号：链接：https://www.pangle.cn/union/media/union/report/code
                穿山甲：fancuihong@emar.com 密码：egouemar@（目前与易购共用）
                到穿山甲简历媒体和广告位
                </dd>
                    <img src={{ url_for('static',filename='yijifendesc/csj1.png') }} class="img-thumbnail" alt="Cinque Terre">
                    <img src={{ url_for('static',filename='yijifendesc/csj2.png') }} class="img-thumbnail" alt="Cinque Terre">
                    <img src={{ url_for('static',filename='yijifendesc/csj3.png') }} class="img-thumbnail" alt="Cinque Terre">
                    <img src={{ url_for('static',filename='yijifendesc/csj4.png') }} class="img-thumbnail" alt="Cinque Terre">
                 <dd>每一个广告位都要建立激励视频，为了区分每个广告位穿山甲带来的收益</dd>
                    <img src={{ url_for('static',filename='yijifendesc/csj5.png') }} class="img-thumbnail" alt="Cinque Terre">
                    <dd>这里查看 应用id 和代码位id</dd>
                       <img src={{ url_for('static',filename='yijifendesc/hdtmt1.png') }} class="img-thumbnail" alt="Cinque Terre">
                       <img src={{ url_for('static',filename='yijifendesc/hdtmt2.png') }} class="img-thumbnail" alt="Cinque Terre">
                       <img src={{ url_for('static',filename='yijifendesc/hdtmt3.png') }} class="img-thumbnail" alt="Cinque Terre">
                       <img src={{ url_for('static',filename='yijifendesc/hdtmt4.png') }} class="img-thumbnail" alt="Cinque Terre">
                   <dd>下一步穿山甲的订单指向媒体或者广告位</dd>
                     <img src={{ url_for('static',filename='yijifendesc/hdtmt5.png') }} class="img-thumbnail" alt="Cinque Terre">
                     <img src={{ url_for('static',filename='yijifendesc/hdtmt6.png') }} class="img-thumbnail" alt="Cinque Terre">
                     <img src={{ url_for('static',filename='yijifendesc/hdtmt7.png') }} class="img-thumbnail" alt="Cinque Terre">


            <dt class="text-primary">易积分退款退积分流程</dt>
                <dd>- 1. 易购宝贝退款：毅勇易购宝贝数据库人工退款，给订单号；如果纯积分就只走3；</dd>
                 <dd>   2. 通知赵琳琳（供销平台）订单号此单退款</dd>
                  <dd>  3. 易积分退积分，进入互动推后台，《易积分》---《兑换记录》，按照订单号查找，退积分。</dd>
                  <dd>  4. 生活权益系统会自动退积分和钱</dd>
                   <dd> 5. 优惠线报是兑换优惠券，不退</dd>



</div>

<!--{% for i in mybudget %}-->
<!--<li>订单是：{{i|safe}} 金额为：{{mybudget[i]|safe}} <a href="{{url_for('hdt_redis.budget_control',orderno=i|safe,jobid1=jobid1|safe)}}">查看小时预算</a></li>-->
  <!--{% endfor %}-->
{% endblock %}
